/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        background-color: #adb7d3dc;
    }
    
    .sidemenu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(38, 92, 143);
        position: sticky;
        top: 0;
        width: 100%;
    }
    
    .menuitem {
        display: inline;
        color: white;
        padding: 14px 16px;
        border-right: 1px solid #bbb;    
    }
    
    .menuitem:last-child {
        float: right;
        border-right: none;
    }
    
    .menulink {
        display: block;
        float: left;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .menulink:visited {
        color:white;
    }
    
    li a:hover {
        background-color: rgb(5, 4, 87);
    }
    
    .active {
        background-color: #0206fa;
    }
    
    h1 {
        text-align: center;
        font-family: "Helvetica", "Arial", sans-serif;
        font-size: 36px;
    }
    
    h2 {
        font-family: "Helvetica", "Arial", sans-serif;
        font-size: 14px;
    }
    
    .flexipics {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        background-color: #adb7d3dc;
    }
    
    .sidemenu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(38, 92, 143);
        position: sticky;
        top: 0;
        width: 100%;
    }
    
    .menuitem {
        display: inline;
        color: white;
        padding: 12px 14px;
        border-right: 1px solid #bbb;    
    }
    
    .menuitem:last-child {
        float: right;
        border-right: none;
    }
    
    .menulink {
        display: block;
        float: left;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .menulink:visited {
        color:white;
    }
    
    li a:hover {
        background-color: rgb(5, 4, 87);
    }
    
    .active {
        background-color: #0206fa;
    }
    
    h1 {
        text-align: center;
        font-family: "Helvetica", "Arial", sans-serif;
        font-size: 36px;
    }
    
    h2 {
        font-family: "Helvetica", "Arial", sans-serif;
        font-size: 14px;
    }
    
    .flexipics {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: #adb7d3dc;
    }
    
    .sidemenu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(38, 92, 143);
        position: sticky;
        top: 0;
        width: 100%;
    }
    
    .menuitem {
        display: inline;
        color: white;
        padding: 14px 16px;
        border-right: 1px solid #bbb;    
    }
    
    .menuitem:last-child {
        float: right;
        border-right: none;
    }
    
    .menulink {
        display: block;
        float: left;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .menulink:visited {
        color:white;
    }
    
    li a:hover {
        background-color: rgb(5, 4, 87);
    }
    
    .active {
        background-color: #0206fa;
    }
    
    h1 {
        text-align: center;
        font-family: "Helvetica", "Arial", sans-serif;
        font-size: 36px;
    }
    
    h2 {
        font-family: "Helvetica", "Arial", sans-serif;
        font-size: 14px;
    }
    
    .flexipics {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}